.star {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    margin: 50px auto;
    border-right: 50px solid transparent;
    border-bottom: 35px solid yellow;
    border-left: 50px solid transparent;
    transform: rotate(35deg);
}

.star:before {
    content: '';
    position: absolute;
    top: -22.5px;
    left: -32.5px;
    display: block;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 45px solid yellow;
    border-left: 15px solid transparent;
    transform: rotate(-35deg);
}

.star:after {
    content: '';
    position: absolute;
    top: 1.5px;
    left: -52.5px;
    display: block;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 35px solid yellow;
    border-left: 50px solid transparent;
    transform: rotate(-70deg);
}