.star {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 35px solid yellow;
    position: relative;
}

.star:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 35px solid yellow;
    position: absolute;
    top: 15px;
    left: -50px;
}