.star {
    font-size: 100px;
    color: yellow;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.star::before {
    content: "★";
    font-size: 100px;
}